<head>    
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="author" content="Sarah Ahlf">
    <meta charset="UTF-8" />    
    <link rel="icon" type="/image/ico" href="/favicon.ico" />
    <link href="/style.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
   
</head>